# Account Verification Status

The below table explains the different statuses of the account verification and their respective description for each status.

<center>

 ![image](../assets/images/AccountVerificationStatus.png)

 &nbsp;

</center>