################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: Dev Portal Tenant APIs.
  description: To onboard properly into the Fiserv Developer Studio as a tenant each
    product must support these APIs so that we can retrieve product specific API specifications
    and documentation.
  version: 1.0.0
servers:
- url: https://tenants.fiserv.com/
  description: ""
paths:
  /v1/products:
    get:
      tags:
      - Tenant
      
      summary: Returns tenant provider API.
      description: Summarize ande provides information about the number of times verification is attempted.
      operationId: TenantProviderID
      responses:
        "200":
          description: Tenant provider response. <a href="https://fiserv.com" rel="noopener noreferrer" target="_blank">external link</a> <a href="../docs?path=docs/getting-started/setup-tenant/setup-tenant.md">Setup Tenant</a>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
      x-group-name: Verification Status
      x-proxy-name: Outcome
  /v1/ping:
    get:
      tags:
      - Tenant
      
      summary: Returns tenant provider API.
      description: Secure verification on Users bank account.
      operationId: TenantProviderID
      responses:
        "200":
          description: Tenant provider response. <a href="https://fiserv.com" rel="noopener noreferrer" target="_blank">external link</a> <a href="../docs?path=docs/getting-started/setup-tenant/setup-tenant.md">Setup Tenant</a>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/TenantProviderResponse'
      x-group-name: Security Service
      x-proxy-name: Ping
  /v1/apis:
    post:
      tags:
      - Specs
      summary: Instant Verification
      description: This method provides instant bank account ownership verification using the Early Warning Services (EWS) Account Ownership database.
      operationId: APISpecProviderId
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
      requestBody:
        description: Instant Account Ownership Verification using the Early Warning Services(EWS) Account Ownership database.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SpecsFilterRequest'
      responses:
        "200":
          description: Created
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SpecsFilterResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SpecsFilterResponse'
      x-codegen-request-body-name: Body
      x-group-name: Verify Now Service
      x-proxy-name: Instant Verification
  /v1/docs:
    post:
      tags:
      - Documents
      
      summary: This method provides real-time bank account ownership verification for customers who have online banking accounts. The applicant’s username and password for the banking website are required for verification. If login is successful, Verify Now compares the applicant’s name and account numbers from the external financial institution and what was provided by the client to verify account ownership in real time.
      description: Compare the applicants name and account numbers from the external financial institution and what was provided by the client to verify account ownership in real time.
      operationId: DocsAPIId
      parameters:
      - in: query
        name: path
        schema:
          type: string
        required: true
        description: Markdown document path
      responses:
        "200":
          description: ""
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/SpecsFilterRequest'
      x-codegen-request-body-name: Body
      x-group-name: Verify Now Service
      x-proxy-name: Real-Time Verification
  /live:
    post:
      tags:
      - HealthCheck
      summary: Works by verifying a customer’s access to an external bank account. Two small trial deposits and one trial debit are made to the external bank account and the customer is required to verify the two deposit amounts. (Note that the amount of the debit is equal to the sum of the two deposits.)
      description: Verifies customer's access to an external bank account.
      operationId: healthCheckId
      x-links: 
        link1: 
          description: Developer Studio
          flag: external
          url:  'https://dev-developerstudio.fiserv.com/'
        link2: 
          description: Setup tenant
          flag: internal
          url:  '../docs?path=docs/getting-started/setup-tenant/setup-tenant.md'
        link3: 
          description: Fiserv Portal
          flag: external
          url:  'https://fiserv.com'
      responses:
        "200":
          description: Health check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveProbeResponse'
      
      x-group-name: Verify Now Service
      x-proxy-name: Trial deposit verification
  /v1/layouts:
    post:
      tags:
      - Layout
      
      summary: In RTVA, the client does not provide any account details of its consumer rather would provide only the profile details. Fiserv tries to do a lookup in its Aggregation data services if any matching account is found for account provided. If any account(s) is found, all such accounts will be provided to the client for authentication. Here on, the client has to provide proper details to have the account authenticated and added. The only difference between RTV and RTVA is client doesn’t provide any account information in the RTVA request and provides the account details in the RTV request.
      description: Add an account and verifies using Multi-Factor Authentication(MFA).
      operationId: LayoutAPIId
      responses:
        "200":
          description: This text will appear as description of your response body. Hello World!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageLayoutResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/PageLayoutResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/PageLayoutResponse'
      x-group-name: Verify Now Service
      x-proxy-name: Real-Time Verification and Addition
components:
  schemas:
    LiveProbeResponse:
      type: object
      properties:
        message:
          type: string
          description: Message
    PageLayoutResponse:
      type: array
      items:
        type: object
        properties:
          hero:
            type: array
            items:
              type: object
              properties:
                descrption:
                  type: string
                  description: Descrption
                image:
                  type: string
                  description: Image
            description: Hero
          journey Cards:
            type: array
            items:
              type: object
              properties:
                journeyCard:
                  type: array
                  items:
                    type: object
                    properties:
                      contextualNavigationCards:
                        type: array
                        items:
                          type: object
                          properties:
                            contextualNavigationCard:
                              type: array
                              items:
                                type: object
                                properties:
                                  description:
                                    type: string
                                    description: Description
                                  link:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          description: Type
                                        uri:
                                          type: string
                                          description: URI
                                    description: Link
                                  title:
                                    type: string
                                    description: Title
                              description: ContextualNavigationCard
                        description: ContextualNavigationCards
                      description:
                        type: string
                        description: Description
                      link:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Type
                            uri:
                              type: string
                              description: URI
                        description: Link
                      title:
                        type: string
                        description: Title
                  description: JourneyCard
            description: JourneyCards
    SpecsFilterRequest:
      type: object
      properties:
        properties:
          requestId:
            type: string
            description: Unique ID to be passed in by the calling application. 
          firstName:
            type: string
            description: User’s first name. Required for all types of account verification.
          lastName:
            type: string
            description: User’s last name. Required for all types of account verification.
    AdminUserName:
      type: string
      properties:
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                description: Subcategories
          description: Categories
    SpecsFilterResponse:
      type: object
      properties:
        requestId:
          type: string
          description: The client request ID echoed in the response. 
        token:
          type: string
          description: Unique token generated for each request for verification.
        profileId:
          type: string
          description: Unique ID assigned to the profile created in the system. 
        enable: true
    TenantProviderResponse:
      type: object
      properties:
        brand:
          type: string
          description: Brand
        brandDescription:
          type: string
          description: BrandDescription
        brandLogoURL:
          type: string
          description: BrandLogoURL
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                    value:
                      type: string
                      description: Value
                description: Subcategories
              value:
                type: string
                description: Value
          description: Categories
        name:
          type: string
          description: Name
        product:
          type: object
          properties:
            apiSpecification:
              type: string
              description: APISpecification 
            description:
              type: string
              description: Description
            documentation:
              type: string
              description: Documentation
            featured:
              type: boolean
              description: Featured
            layout:
              type: string
              description: Layout
            logoURL:
              type: string
              description: LogoURL
          description: Product
        solution:
          type: string
          description: Solution
        title:
          type: string
          description: Title
  responses:
    apiSpecResponseWrapper:
      description: OpenAPI Spec for the APIs. 
      content: {}
    docsResponseWrapper:
      description: Markdown files.
      content: {}
    liveResponse:
      description: Health check.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
    productPage:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
    tenant:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
  securitySchemes:
    basic:
      type: http
      scheme: basic