################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.2
info:
  title: Dev Portal Tenant APIs.
  description: To onboard properly into the Fiserv Developer Studio as a tenant each
    product must support these APIs so that we can retrieve product specific API specifications
    and documentation.
  version: 1.0.0
servers:
- url: https://tenants.fiserv.com/
  description: ""
paths:
  /cashedgerws/verifynow/outcome/v1:
    post:
      tags:
      - Outcome
      summary: Returns tenant provider API.
      description: Summarize ande provides information about the number of times verification is attempted.
      operationId: TenantProviderID
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: Outcome
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/OutcomeRequest'
      responses:
        "200":
          description: "Created"
          content: 
            application/xml:
              schema:
                $ref: '#/components/schemas/OutcomeResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/OutcomeResponse'
      x-group-name: Verification Status
      x-proxy-name: Outcome
  /cashedgerws/verifynow/verify/v1:
    post:
      tags:
      - Instant
      summary: Instant Verification
      description: This method provides instant bank account ownership verification using the Early Warning Services (EWS) Account Ownership database.
      operationId: APISpecProviderId
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: Instant Verification 
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SpecsFilterRequest'
      responses:
        "200":
          description: Created
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SpecsFilterResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SpecsFilterResponse'
      x-codegen-request-body-name: Body
      x-group-name: Verify Now Service
      x-proxy-name: Instant Verification
  /v1/docs:
    post:
      tags:
      - RTV
      summary: Real-Time Verification
      description: This method provides real-time bank account ownership verification for customers who have online banking accounts. The applicant’s username and password for the banking website are required for verification. If login is successful, Verify Now compares the applicant’s name and account numbers from the external financial institution and what was provided by the client to verify account ownership in real time. 
      operationId: DocsAPIId
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: Real-Time Verification
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RealTimeVerificationRequest'
      responses:
        "200":
          description: "Created"
          content: 
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeVerificationResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeVerificationResponse'
      x-codegen-request-body-name: Body
      x-group-name: Verify Now Service
      x-proxy-name: Real-Time Verification
  /live:
    post:
      tags:
      - Trial Deposit
      summary: Trial deposit verification
      description: Works by verifying a customer’s access to an external bank account. Two small trial deposits and one trial debit are made to the external bank account and the customer is required to verify the two deposit amounts. (Note that the amount of the debit is equal to the sum of the two deposits.)
      operationId: healthCheckId
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: trialDepositVerification
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/trialDepositVerificationRequest'
      responses:
        "200":
          description: "Created"
          content: 
            application/xml:
              schema:
                $ref: '#/components/schemas/trialDepositVerificationResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/trialDepositVerificationResponse'
      x-group-name: Verify Now Service
      x-proxy-name: Trial deposit verification
  /v1/layouts:
    post:
      tags:
      - RTVA
      summary: Real-Time Verification and Addition
      description: In RTVA, the client does not provide any account details of its consumer rather would provide only the profile details. Fiserv tries to do a lookup in its Aggregation data services if any matching account is found for account provided. If any account(s) is found, all such accounts will be provided to the client for authentication. Here on, the client has to provide proper details to have the account authenticated and added. The only difference between RTV and RTVA is client doesn’t provide any account information in the RTVA request and provides the account details in the RTV request.
      operationId: LayoutAPIId
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: Real-Time Verification and Addition
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RealTimeVerificationAndAdditionRequest'
      responses:
        "200":
          description: "created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealTimeVerificationAndAdditionResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RealTimeVerificationAndAdditionResponse'
      x-group-name: Verify Now Service
      x-proxy-name: Real-Time Verification and Addition
  /cashedgerws/verifynow/ping:
    post:
      tags:
      - ping 
      summary: Returns tenant provider API.
      description: Secure verification on Users bank account.
      operationId: TenantProviderID
      parameters:
        - in: header
          name: AdminUserName
          schema:
            $ref: '#/components/schemas/AdminUserName'
            type: string
          required: true
          description: provide Adminusername as value
        - in: header
          name: AdminPassword
          schema:
            $ref: '#/components/schemas/AdminPassword'
            type: string
          required: true
          description: provide AdminPassword as value
        - in: header
          name: HomeId
          schema:
            $ref: '#/components/schemas/HomeId'
            type: string
          required: true
          description: provide HomeId as value
      requestBody:
        description: Ping
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/PingRequest'
      responses:
        "200":
          description: "Created"
          content: 
            application/xml:
              schema:
                $ref: '#/components/schemas/PingResponse'
        default:
          description: default decription will display
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/PingResponse'
      x-group-name: Health Check
      x-proxy-name: Ping
components:
  schemas:
    LiveProbeResponse:
      type: object
      properties:
        message:
          type: string
          description: Message
    PageLayoutResponse:
      type: array
      items:
        type: object
        properties:
          hero:
            type: array
            items:
              type: object
              properties:
                descrption:
                  type: string
                  description: Descrption
                image:
                  type: string
                  description: Image
            description: Hero
          journey Cards:
            type: array
            items:
              type: object
              properties:
                journeyCard:
                  type: array
                  items:
                    type: object
                    properties:
                      contextualNavigationCards:
                        type: array
                        items:
                          type: object
                          properties:
                            contextualNavigationCard:
                              type: array
                              items:
                                type: object
                                properties:
                                  description:
                                    type: string
                                    description: Description
                                  link:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          description: Type
                                        uri:
                                          type: string
                                          description: URI
                                    description: Link
                                  title:
                                    type: string
                                    description: Title
                              description: ContextualNavigationCard
                        description: ContextualNavigationCards
                      description:
                        type: string
                        description: Description
                      link:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description: Type
                            uri:
                              type: string
                              description: URI
                        description: Link
                      title:
                        type: string
                        description: Title
                  description: JourneyCard
            description: JourneyCards
    SpecsFilterRequest:
      type: object
      properties:
        requestId:
          type: string
          description: Unique ID to be passed in by the calling application. 
        firstName:
          type: string
          description: User’s first name. Required for all types of account verification.
        lastName:
          type: string
          description: User’s last name. Required for all types of account verification.
        middleName:
          type: string
          description: User’s middle name 
        userId:
          type: string
          description: Unique identification number that is assigned to user by client.
        email: 
          type: string
          description: User’s email address. This is for primary email. Required for TD verification to provide status and reminders. 
        ssn:
          type: string
          description: User’s Social Security number. Recommended for instant verification and profile and account migration from Verify Now to TransferNow, OpenNow, and FundNow services. 
        addressLine1:
          type: string
          description: User’s address street 1. Recommended for instant verification. 
        city:
          type: string
          description: User’s city. Recommended for instant verification. 
        state:
          type: string
          description: User’s state. Recommended for instant verification.
        zipCode:
          type: string
          description: User’s ZIP Code. Recommended for instant verification. 
        phoneNumber:
          type: string
          description: User’s phone number. It can be home, cell, or work phone. This is used for primary phone.  
        enable: 
          type: boolean
    AdminUserName:
      type: string
      properties:
        AdminUserName:
          type: string
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                description: Subcategories
          description: Categories
    AdminPassword:
      type: string
      properties:
        AdminPassword:
          type: string
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                description: Subcategories
          description: Categories
    HomeId:
      type: string
      properties:
        HomeId:
          type: string
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                description: Subcategories
          description: Categories
    SpecsFilterResponse:
      type: object
      properties:
        requestId:
          type: string
          description: The client request ID echoed in the response. 
        token:
          type: string
          description: Unique token generated for each request for verification.
        profileId:
          type: string
          description: Unique ID assigned to the profile created in the system.
        profileStatus:
          type: string
          description: Current status of the profile. Possible profile statuses are Active, Suspended, and Locked. 
        statusCode:
          type: string
          description: Alphanumeric code for representing a Success or Failure condition.
        statusDesc:
          type: string
          description: Textual description for the status code.
        statusType:
          type: string
          description: This tag indicates whether the request processed successfully or not. Possible values are Success or FAILURE. This element must be looked at first before parsing the response. 
    RealTimeVerificationRequest:
      type: object
      properties:
        VerifyNowRequest: 
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: Unique ID to be passed in by the calling application.
              Profile:
                type: array
                items:
                  type: object
                  properties:
                    Firstname:
                      type: string
                      description: User’s first name. Required for all types of account verification.
                    Lastname:
                      type: string
                      description: User’s last name. Required for all types of account verification.
                    middleName:
                      type: string
                      description: User’s middle name.
                    email:
                      type: string
                      description: User’s email address. This is for primary email. Required for TD verification to provide status and reminders.
                    userId:
                      type: string
                      description: Unique identification number that is assigned to user by client.
                description: Profile Details
              profileDetails:
                type: array
                items:
                  type: object
                  properties:
                    ssn:
                      type: string
                      description: User’s Social Security number. Recommended for instant verification and profile and account migration from Verify Now to TransferNow, OpenNow, and FundNow services.
                    Address:
                      type: array
                      items:
                        type: object
                        properties:
                          addressLine1:
                            type: string
                            description: User’s address street 1. Recommended for Trial Deposit Verification.
                          city:
                            type: string
                            description: User’s city. Recommended for Trial Deposit Verification.
                          state:
                            type: string
                            description: User’s state. Recommended for Trial Deposit Verification.
                          zipCode:
                            type: string
                            description: User’s ZIP Code. Recommended for Trial Deposit Verification.
                        description: User Address Details
                    phoneNumber:
                      type: string
                      description: User’s phone number. It can be home, cell, or work phone. This is used for primary phone.
                description: Add ProfileDetails
              accountOwnershipVerification:
                type: array
                items:
                  type: object
                  properties:
                    realTimeVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    instantVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    trialDepositVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    realTimeVerificationAndAddition:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                description: Add accountOwnershipVerification Details
          description: VerifyNowRequest Details
    RealTimeVerificationResponse:
      type: object
      properties:
        VerifyNowResponse:
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: The client request ID echoed in the response.
              Token:
                type: string
                description: Unique token generated for each request for verification.
              profileInfo:
                type: array
                items:
                  type: object
                  properties:
                    profileId:
                      type: string
                      description: Unique ID assigned to the profile created in the system.
                    profileStatus:
                      type: string
                      description: Current status of the profile. Possible profile statuses are Active, Suspended, and Locked.
                description: profileInfo Details
              status:
                type: array
                items:
                  type: object
                  properties:
                    statusCode:
                      type: string
                      description: Alphanumeric code for representing a Success or Failure condition.
                    statusDesc:
                      type: string
                      description: Textual description for the status code.
                    statusType:
                      type: string
                      description: This tag indicates whether the request processed successfully or not. Possible values are Success or FAILURE. This element must be looked at first before parsing the response.
                description: status Details
          description: VerifyNowResponse Details
    trialDepositVerificationRequest:
      type: object
      properties:
        VerifyNowRequest: 
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: Unique ID to be passed in by the calling application.
              Profile:
                type: array
                items:
                  type: object
                  properties:
                    Firstname:
                      type: string
                      description: User’s first name. Required for all types of account verification.
                    Lastname:
                      type: string
                      description: User’s last name. Required for all types of account verification.
                    middleName:
                      type: string
                      description: User’s middle name.
                    email:
                      type: string
                      description: User’s email address. This is for primary email. Required for TD verification to provide status and reminders.
                    userId:
                      type: string
                      description: Unique identification number that is assigned to user by client.
                description: Profile Details
              profileDetails:
                type: array
                items:
                  type: object
                  properties:
                    ssn:
                      type: string
                      description: User’s Social Security number. Recommended for instant verification and profile and account migration from Verify Now to TransferNow, OpenNow, and FundNow services.
                    Address:
                      type: array
                      items:
                        type: object
                        properties:
                          addressLine1:
                            type: string
                            description: User’s address street 1. Recommended for Trial Deposit Verification.
                          city:
                            type: string
                            description: User’s city. Recommended for Trial Deposit Verification.
                          state:
                            type: string
                            description: User’s state. Recommended for Trial Deposit Verification.
                          zipCode:
                            type: string
                            description: User’s ZIP Code. Recommended for Trial Deposit Verification.
                        description: User Address Details
                    phoneNumber:
                      type: string
                      description: User’s phone number. It can be home, cell, or work phone. This is used for primary phone.
                description: Add ProfileDetails
              accountOwnershipVerification:
                type: array
                items:
                  type: object
                  properties:
                    instantVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    realTimeVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    trialDepositVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    realTimeVerificationAndAddition:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            value: "false"
                            description: invoke the verification method.
                      description: realTimeVerification
                description: Add accountOwnershipVerification Details
          description: VerifyNowRequest Details
    trialDepositVerificationResponse:
      type: object
      properties:
        VerifyNowResponse:
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: The client request ID echoed in the response.
              Token:
                type: string
                description: Unique token generated for each request for verification.
              profileInfo:
                type: array
                items:
                  type: object
                  properties:
                    profileId:
                      type: string
                      description: Name
                    profileStatus:
                      type: string
                      description: Name
                description: profileInfo Details
              status:
                type: array
                items:
                  type: object
                  properties:
                    statusCode:
                      type: string
                      description: Name
                    statusDesc:
                      type: string
                      description: Name
                    statusType:
                      type: string
                      description: Name
                description: status Details
          description: VerifyNowResponse Details
    OutcomeRequest:
      type: object
      properties:
        requestId:
          type: string
          description: Unique ID to be passed in by the calling application. 
        Token:
          type: string
          description: Unique token generated for each request for verification.
    OutcomeResponse:
      type: object
      properties:
        requestId:
          type: string
          description: The client request ID echoed in the response. 
        accountGroup:
          type: string
          description: Account group can have a value such as Cash, Investment, Credit, Card, etc.
        accountId:
          type: string
          description: Unique ID assigned to the account created in the Fiserv VerifyNow system.
        accountStatus:
          type: string
          description: Current status of the account. Possible account statuses are Approved, Denied, In-Progress, Suspended, Inactive, and Inconclusive.
        accountType:
          type: string
          description: Account type based on Group. For Group Cash are Checking, Savings, MMA Checking, MMA Savings For Group Investment are Brokerages.
        verificationType:
          type: string
          description: Type of verification are Instant EWS, Real Time, Trial Deposit, Real Time Verification and Addition, Partner Approved (configurable value related to the migration case).
        verificationStatus:
          type: string
          description: "Current verification status. Possible values for Instant EWS: Passed, Denied, and Inconclusive. For Real Time: Passed, In-progress, and Inconclusive. For Trial Deposit: Transfer Initiated, Transfer Complete, Transfer Failed, Amount Verification Completed, Amount Verification Failed, Transfer Expired."
        verification Attempts:
          type: string
          description: Number of attempts made to verify the account. This is applicable to Real Time and Trial Deposit.
        dateOfAttempt:
          type: string
          description: Date of last verification attempt made in "MM-DD-YYYY" format.
        verification SourceResponse:
          type: string
          description: Reserved for future use.
        matchType:
          type: string
          description: Type of match for fuzzy logic, such as nickname, partial account number, etc.
        statusCode:
          type: string
          description: Alphanumeric code for representing a Success or Failure condition.
        statusDesc:
          type: string
          description: Textual description for the status code.
        statusType:
          type: string
          description: This tag indicates whether the request processed successfully or not. Possible values are Success or FAILURE. This element must be looked at first before parsing the response.
    PingRequest:
      type: object
      properties:
        AdminUserName:
          type: string
          description: "99993001xmladmin"
        HomeId:
          type: string
          description: "99993001"
        AdminPassword:
          type: string
          description: "cashedge1"
    PingResponse:
      type: object
      properties:
        statusCode:
          type: string
          description: Alphanumeric code for representing a Success or Failure condition.
        statusDesc:
          type: string
          description: Textual description for the status code.
        statusType:
          type: string
          description: This tag indicates whether the request processed successfully or not. Possible values are Success or FAILURE. This element must be looked at first before parsing the response.
    RealTimeVerificationAndAdditionRequest:
      type: object
      properties:
        VerifyNowRequest: 
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: Unique ID to be passed in by the calling application.
              Profile:
                type: array
                items:
                  type: object
                  properties:
                    Firstname:
                      type: string
                      description: User’s first name. Required for all types of account verification.
                    Lastname:
                      type: string
                      description: User’s last name. Required for all types of account verification.
                    middleName:
                      type: string
                      description: User’s middle name.
                    email:
                      type: string
                      description: User’s email address. This is for primary email. Required for TD verification to provide status and reminders.
                    userId:
                      type: string
                      description: Unique identification number that is assigned to user by client.
                description: Profile Details
              profileDetails:
                type: array
                items:
                  type: object
                  properties:
                    ssn:
                      type: string
                      description: User’s Social Security number. Recommended for Real Time Verification And Addition and profile and account migration from Verify Now to TransferNow, OpenNow, and FundNow services.
                    Address:
                      type: array
                      items:
                        type: object
                        properties:
                          addressLine1:
                            type: string
                            description: User’s address street 1. Recommended for Real Time Verification And Addition.
                          city:
                            type: string
                            description: User’s city. Recommended for Real Time Verification And Addition.
                          state:
                            type: string
                            description: User’s state. Recommended for Real Time Verification And Addition.
                          zipCode:
                            type: string
                            description: User’s ZIP Code. Recommended for Real Time Verification And Addition.
                        description: User Address Details
                    phoneNumber:
                      type: string
                      description: User’s phone number. It can be home, cell, or work phone. This is used for primary phone.
                description: Add ProfileDetails
              accountOwnershipVerification:
                type: array
                items:
                  type: object
                  properties:
                    instantVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    realTimeVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                    trialDepositVerification:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            value: false
                            description: invoke the verification method.
                      description: realTimeVerification
                    realTimeVerificationAndAddition:
                      type: array
                      items:
                        type: object
                        properties:
                          enable:
                            type: boolean
                            description: invoke the verification method.
                      description: realTimeVerification
                description: Add accountOwnershipVerification Details
          description: VerifyNowRequest Details
    RealTimeVerificationAndAdditionResponse:
      type: object
      properties:
        VerifyNowResponse:
          type: array
          items:
            type: object
            properties:
              requestId:
                type: string
                description: The client request ID echoed in the response.
              Token:
                type: string
                description: Unique token generated for each request for verification.
              profileInfo:
                type: array
                items:
                  type: object
                  properties:
                    profileId:
                      type: string
                      description: Unique ID assigned to the profile created in the system.
                    profileStatus:
                      type: string
                      description: "Current status of the profile. Possible profile statuses are: Active, Suspended, and Locked."
                description: profileInfo Details
              status:
                type: array
                items:
                  type: object
                  properties:
                    statusCode:
                      type: string
                      description: Alphanumeric code for representing a Success or Failure condition.
                    statusDesc:
                      type: string
                      description: Textual description for the status code.
                    statusType:
                      type: string
                      description: This tag indicates whether the request processed successfully or not. Possible values are Success or FAILURE. This element must be looked at first before parsing the response.
                description: status Details
          description: VerifyNowResponse Details
    TenantProviderResponse:
      type: object
      properties:
        brand:
          type: string
          description: Brand
        brandDescription:
          type: string
          description: BrandDescription
        brandLogoURL:
          type: string
          description: BrandLogoURL
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Name
              subcategories:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name
                    value:
                      type: string
                      description: Value
                description: Subcategories
              value:
                type: string
                description: Value
          description: Categories
        name:
          type: string
          description: Name
        product:
          type: object
          properties:
            apiSpecification:
              type: string
              description: APISpecification 
            description:
              type: string
              description: Description
            documentation:
              type: string
              description: Documentation
            featured:
              type: boolean
              description: Featured
            layout:
              type: string
              description: Layout
            logoURL:
              type: string
              description: LogoURL
          description: Product
        solution:
          type: string
          description: Solution
        title:
          type: string
          description: Title
  responses:
    apiSpecResponseWrapper:
      description: OpenAPI Spec for the APIs. 
      content: {}
    docsResponseWrapper:
      description: Markdown files.
      content: {}
    liveResponse:
      description: Health check.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/LiveProbeResponse'
    productPage:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/PageLayoutResponse'
    tenant:
      description: This text will appear as description of your response body. 
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
        text/yaml:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
        text/plain:
          schema:
            $ref: '#/components/schemas/TenantProviderResponse'
  securitySchemes:
    basic:
      type: http
      scheme: basic